/*
html, body{margin:0; padding:0; min-height:100%;}

body{background:#ddd; padding:10%; font-family:arial}
*/
body{
  font-family: Sans-serif;
}

*{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.heart-Circle{
  border:7px solid #fc2e5a;
  border-radius:260px;
  height:140px;
  overflow:hidden;
  position:relative;
  width:140px;
}

.heart-Container{
  left:11%;
  position:absolute;
  top:20%;
  -moz-transition:all 0.35s; 
  -webkit-transition:all 0.35s;  
  transition:all 0.35s;
}

.heart-Container.broken{
  left:6%;
  top:23%;
}

.heart{
    height:90px;
    position:relative;
    width:50px; 
}

.heart:before, .heart:after{
    background:#fc2e5a;
    border-radius:50px 50px 0 0;
    content:"";
    height:80px;
    left:50px;
    position:absolute;
    top:4px;
    width:50px;

    -webkit-transform:rotate(-45deg);
       -moz-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
            transform:rotate(-45deg);
    -webkit-transform-origin:0 100%;
       -moz-transform-origin:0 100%;
        -ms-transform-origin:0 100%;
            transform-origin:0 100%;
}

.heart:after {
    left:0;

    -webkit-transform:rotate(45deg);
       -moz-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
            transform:rotate(45deg);

    -webkit-transform-origin:100% 100%;
       -moz-transform-origin:100% 100%;
        -ms-transform-origin:100% 100%;
            transform-origin:100% 100%;
}

/* Split the heart in two */
.sides{
  float:left;
  position:relative;
  -moz-transition:all 0.35s; 
  -webkit-transition:all 0.35s;  
  transition:all 0.35s;
}

.half{
  overflow:hidden;
  position:relative;
  width:50px;
}

.right-Side .heart:after,
.right-Side .heart:before{
  left:-50px;
}

/* create the rip in the center */
.points{
  position:absolute;
  top:20px
}

.left-Side .points{left:100%}
.right-Side .points{right:100%}

.point{
  border-bottom: 8px solid transparent;
  border-left:   16px solid #fc2e5a;
  border-top:    8px solid transparent;
  height:0;
  width:0;
   
}

.right-Side .point {
  border-bottom:  8px solid transparent;
  border-left:    none;
  border-right:   16px solid #fc2e5a;
  border-top:     8px solid transparent;
  position:relative;
}

.left-Side .point{
  left:-3px;
  position:relative;
  top:3px;
  -moz-transform:rotate(-2deg);
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
}

.left-Side .pt1{
  left:-5px;
  top:-4px;
  -moz-transform:rotate(29deg);
  -webkit-transform:rotate(29deg);
  transform:rotate(29deg);
}

.left-Side .pt2{
  top:1px;
}

.left-Side .pt3{
  left:-5px;
  top:4px;
  -moz-transform:rotate(-29deg);
  -webkit-transform:rotate(29deg);
  transform:rotate(29deg);
}

.left-Side .pt4{
  left:-7px;
  position:absolute;
  top:5px;
  -moz-transform:rotate(-9deg);
  -webkit-transform:rotate(-9deg);
  transform:rotate(-9deg);
}

.right-Side .point{
  right:-3px;
  top:-5px;
  -moz-transform:rotate(-15deg);
  -webkit-transform:rotate(-15deg);
  transform:rotate(-15deg);
}

.right-Side .pt2{
  top:-7px;
}

.right-Side .pt3{
  right:-5px;
  top:-6px;
  -moz-transform:rotate(-26deg);
  -webkit-transform:rotate(-26deg);
  transform:rotate(-26deg);
}

.broken .left-Side{
  margin-right:6px;
  -moz-transform:rotate(-10deg);
  -webkit-transform:rotate(-10deg);
  transform:rotate(-10deg);
}

.broken .right-Side{
  margin-left:6px;
  -moz-transform:rotate(10deg);
  -webkit-transform:rotate(10deg);
  transform:rotate(10deg);
}


/*--------patreon--------*/
/* entire container, keeps perspective */
.flip-container {
display: inline-block;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 250px;
  height: 236px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

/*--------------misc---------------*/
#final{
  text-align: center;
  font-size: 50px;
  padding-top: 10%;
}


.c3-axis, .c3-axis-x{
  font-size: 11px;
}

html *{
  font-family: 'Montserrat', sans-serif;
}

body{
  width: 80% !important;
}


#xlabel{
  text-align: center;
}

/*----------glitch-----------*/

@keyframes example-one-anim-1 {
  0% {
    clip: rect(58px, 450px, 76px, 0);
  }
  5.88235% {
    clip: rect(68px, 450px, 61px, 0);
  }
  11.76471% {
    clip: rect(98px, 450px, 56px, 0);
  }
  17.64706% {
    clip: rect(109px, 450px, 63px, 0);
  }
  23.52941% {
    clip: rect(35px, 450px, 100px, 0);
  }
  29.41176% {
    clip: rect(11px, 450px, 41px, 0);
  }
  35.29412% {
    clip: rect(102px, 450px, 90px, 0);
  }
  41.17647% {
    clip: rect(67px, 450px, 72px, 0);
  }
  47.05882% {
    clip: rect(86px, 450px, 64px, 0);
  }
  52.94118% {
    clip: rect(113px, 450px, 113px, 0);
  }
  58.82353% {
    clip: rect(47px, 450px, 1px, 0);
  }
  64.70588% {
    clip: rect(67px, 450px, 4px, 0);
  }
  70.58824% {
    clip: rect(19px, 450px, 31px, 0);
  }
  76.47059% {
    clip: rect(99px, 450px, 29px, 0);
  }
  82.35294% {
    clip: rect(51px, 450px, 94px, 0);
  }
  88.23529% {
    clip: rect(95px, 450px, 60px, 0);
  }
  94.11765% {
    clip: rect(81px, 450px, 8px, 0);
  }
  100% {
    clip: rect(13px, 450px, 39px, 0);
  }
}

@keyframes example-one-anim-2 {
  0% {
    clip: rect(99px, 450px, 21px, 0);
  }
  5.88235% {
    clip: rect(106px, 450px, 81px, 0);
  }
  11.76471% {
    clip: rect(79px, 450px, 55px, 0);
  }
  17.64706% {
    clip: rect(63px, 450px, 111px, 0);
  }
  23.52941% {
    clip: rect(31px, 450px, 77px, 0);
  }
  29.41176% {
    clip: rect(6px, 450px, 32px, 0);
  }
  35.29412% {
    clip: rect(21px, 450px, 5px, 0);
  }
  41.17647% {
    clip: rect(40px, 450px, 86px, 0);
  }
  47.05882% {
    clip: rect(3px, 450px, 114px, 0);
  }
  52.94118% {
    clip: rect(83px, 450px, 76px, 0);
  }
  58.82353% {
    clip: rect(60px, 450px, 109px, 0);
  }
  64.70588% {
    clip: rect(113px, 450px, 30px, 0);
  }
  70.58824% {
    clip: rect(5px, 450px, 63px, 0);
  }
  76.47059% {
    clip: rect(95px, 450px, 9px, 0);
  }
  82.35294% {
    clip: rect(49px, 450px, 85px, 0);
  }
  88.23529% {
    clip: rect(51px, 450px, 94px, 0);
  }
  94.11765% {
    clip: rect(69px, 450px, 60px, 0);
  }
  100% {
    clip: rect(80px, 450px, 7px, 0);
  }
}
.glitch{
  font-size: 50px;
  color: white;
  position: relative;
}

.glitch:before, .glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  clip: rect(0, 0, 0, 0);
}
.glitch:after {
  width: 100%;
  left: 2px;
  text-shadow: -1px 0 red;
  animation: example-one-anim-1 2s infinite linear alternate-reverse;
}
.glitch:before {
  width: 100%;
  left: -2px;
  text-shadow: 2px 0 blue;
  animation: example-one-anim-2 3s infinite linear alternate-reverse;
}

/*
.wrap {
  margin: 0 auto;
  text-align: center;
  position: relative;
}
*/
#sidecommentary{
  z-index: 100;
  font-size: 30px;
  margin-top: -50px;
}















